/* CSS Document */
body{
	margin: 0;
	}

	@font-face {
	font-family: "Medium";
	src: url("font/CircularStd-Medium.ttf") format("truetype");
	}

	@font-face {
	font-family: "Black";
	src: url("font/CircularStd-Black.ttf") format("truetype");
	}
	


/*HEADER*/

header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #222222;
	padding: 20px 0px;
	width: 100%;
}

nav {
	width: 65%;
}

.lienheader {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	list-style: none;
}

.logoparede {
	width: 10vw;
	
}


a {
	color: white;
	text-decoration: none;
	font-family: "Medium";
	font-size: 20px;
}

a:hover {
	color: #F19D33; 
}

/*SECTION PRINCIPALE ACCUEIL*/

.pageaccueil {
	 display: flex;
	 flex-direction: column;
	 justify-content: space-between;
	 background-image: url("images/fond-site2.jpeg");
     background-size: cover;
	 background-position: center;
	 background-repeat: no-repeat;
	height: 100vh;
}

.bienvenue {
	height: 70vh;
	display: flex;
	 flex-direction: column;
	 justify-content: center;
}

.accroche {
	justify-content: center;
	font-family: "Black";
	color: white;
	font-size: 72px;
	padding-left: 100px;
}

#accroche2 {
	color: #F19D33;
}

/*SECTION PRINCIPALE PRESENTATION*/

.pagepresentation {
	 display: flex;
	 flex-direction: column;
	 justify-content: space-between;
	 background-image: url("images/image-presentation.jpg");
     background-size: cover;
	 background-position: center;
	 background-repeat: no-repeat;
	height: 70vh;
}

.presentationpartie {
	height: 50vh;
	padding-left: 100px;
}

.presentationentreprise {
	font-size: 55px;
	font-family: "Black";
	color: #F19D33;
}

#textedepresentation {
	font-size: 25px;
	font-family: "Black";
	color: #222222;
}

/*SECTION PRINCIPALE REALISATION*/
.pagerealisations {
	 display: flex;
	 flex-direction: column;
	 justify-content: space-between;
	 background-color: #2F2F2F;
     background-size: cover;
	 background-position: center;
	 background-repeat: no-repeat;
	height: 140vh;
}

.mosaique {
	margin: 0px;
}

.photosrealisations {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.realisation1 {
	width: 300px;
	height: 200px;
	margin: 0px 2px;
}

.realisation2 {
	width: 300px;
	margin: 0px 2px;
}

.realisation3 {
	width: 300px;
	height: 200px;
	margin: 0px 2px;
}

.realisation4 {
	width: 300px;
	height: 200px;
	margin: 0px 2px;
}

.photosrealisations2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.realisation5 {
	width: 300px;
	height: 200px;
	margin: 0px 2px;
}

.realisation6 {
	width: 300px;
	height: 200px;
	margin: 0px 2px;
}

.realisation7 {
	width: 300px;
	height: 200px;
	margin: 0px 2px;
}

.realisation8 {
	width: 300px;
	height: 200px;
	margin: 0px 2px;
}

.photosrealisations3 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.realisation9 {
	width: 300px;
	height: 200px;
	margin: 0px 2px;
}

.realisation10 {
	width: 300px;
	height: 200px;
	margin: 0px 2px;
}

.realisation11 {
	width: 300px;
	height: 200px;
	margin: 0px 2px;
}

.realisation12 {
	width: 300px;
	height: 200px;
	margin: 0px 2px;
}

/*FOOTER*/

footer {
	background-color: #222222;
	padding: 20px 0px;
}

.lienfooter {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
}

/*Equipe*/

.bodyequipe
{
    margin: auto;
    padding: auto;
    background-image: url(images/equipe.png);
    background-attachment: fixed;
    font-family: "CircularStdBlack" ;
}

@font-face
{
    font-family: "CircularStdBlack";
    src: url(font/CircularStd-Black.ttf) format("truetype");
    


}
.h1equipe
{
    text-align: left;
    font-size: 72px;
    padding-left: 380px;
    padding-top: 30px;
    margin-top: 50px;
    color: white;


}

.h1equipe:hover
{
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);

}


.h1equipe2
{
    text-align: left;
    font-size: 48px;
    color: white;
    padding-left: 280px;


}

.h1equipe2:hover
{
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);

}




.sectionflexequipe
{
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
}

.flexpresentationequipe
{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    text-align: left;
    padding-top: -200px;
    animation: fadein 15s;
    -moz-animation: fadein 15s; /* Firefox */
    -webkit-animation: fadein 15s; /* Safari et Chrome */
    -o-animation: fadein 15s; /* Opera */
    animation-duration: 3s;
    animation-name: slidein;
}

.fleximgdesequipe
{
    display: flex;
    flex-direction: column;
    animation: fadein 15s;
    -moz-animation: fadein 15s; /* Firefox */
    -webkit-animation: fadein 15s; /* Safari et Chrome */
    -o-animation: fadein 15s; /* Opera */
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  


#taillelivia
{
    padding-top: 300px;
}

#tailletiago
{
    padding-top: 300px;
}

#ptiago
{
    padding-top: -200px;
}



.tailleimgequipe
{
    width: 400px;
    
}

.placequipe
{
    width: 50%;
    margin-left: 25rem;
    margin-bottom: 80px;
    
    
}

.placequipe,p
{
    width: 50%;
    margin-left: 15rem;
  
    
}

.pequipe
{
    padding-left: 40px;
    font-size: 24px;
    margin-bottom: 10rem;
}
#picasso
{
    height: 300px;
}

.tailldivliequipe
{
    

    background-color: #F19D33;
    color: white;
    width: 686px;
    height: 237px;
}

.tailleimgequipe
{
 width: 686px;
 
}

/*Contacts*/

.bodycontact
{
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:black;
    background-image: url(images/equipe.png);
    background-attachment: fixed;
    font-family: "CircularStdBlack" ;
    color: white;
}


input
{
    color: black;
    border-radius: 20px;
}
textarea
{
    color: black;
    border-radius: 20px;
}

.h1contact
{
    text-align: center;
    
}



.h2contact
{
    text-align: center;
}

form
{
    padding-left: 860px;
}

.aligncenterform
{
    text-align: center;
    padding-top: 50px;
}

.paddingulcontact
{
    padding-right: 50px;
}

.centersubmitcontact
{
    align-content: center;
}

.stretch, .button:after, .button:before {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }    
  .button {
    background: #0962EA;
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #0962EA), color-stop(100%, #0AA0F6));
    background-image: -moz-linear-gradient(left, #0962EA, #0AA0F6);
    background-image: -webkit-linear-gradient(left, #0962EA, #0AA0F6);
    background-image: linear-gradient(to right, #0962EA, #0AA0F6);
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    border-radius: 1.5em;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
    border: none;
    padding: 20px;
    color: #FAF15D;
    font-weight: bold;
    letter-spacing: 0.05em;
    outline: none;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    z-index: 99;
  }
  .button:after {
    -moz-box-shadow: rgba(212, 207, 201, 0.75) 0 0 15px 2px;
    -webkit-box-shadow: rgba(212, 207, 201, 0.75) 0 0 15px 2px;
    box-shadow: rgba(212, 207, 201, 0.75) 0 0 15px 2px;
    background: #FAF15D;
    content: "";
    height: 2px;
    opacity: 0;
  }
  .button:before {
    content: "";
    opacity: 0;
  }
  .button:hover {
    -webkit-animation: glitch 750ms infinite;
  }
  .button:hover:before {
    opacity: 1;
  }
  .button:hover:after {
    -webkit-animation: scan 2s infinite;
    opacity: 1;
  }
  
  @-webkit-keyframes glitch {
    0% {
      -moz-transform: skewX(0deg);
      -ms-transform: skewX(0deg);
      -webkit-transform: skewX(0deg);
      transform: skewX(0deg);
    }
    5% {
      -moz-transform: skewX(2deg);
      -ms-transform: skewX(2deg);
      -webkit-transform: skewX(2deg);
      transform: skewX(2deg);
      opacity: 0.75;
    }
    10% {
      -moz-transform: skewX(0deg);
      -ms-transform: skewX(0deg);
      -webkit-transform: skewX(0deg);
      transform: skewX(0deg);
      opacity: 1;
    }
    15% {
      -moz-transform: skewX(-5deg);
      -ms-transform: skewX(-5deg);
      -webkit-transform: skewX(-5deg);
      transform: skewX(-5deg);
      opacity: 0.75;
    }
    20% {
      -moz-transform: skewX(0deg);
      -ms-transform: skewX(0deg);
      -webkit-transform: skewX(0deg);
      transform: skewX(0deg);
      opacity: 1;
    }
    45% {
      -moz-transform: skewX(3deg);
      -ms-transform: skewX(3deg);
      -webkit-transform: skewX(3deg);
      transform: skewX(3deg);
      opacity: 0.75;
    }
    50% {
      -moz-transform: skewX(0deg);
      -ms-transform: skewX(0deg);
      -webkit-transform: skewX(0deg);
      transform: skewX(0deg);
      opacity: 1;
    }
    55% {
      -moz-transform: skewX(0deg);
      -ms-transform: skewX(0deg);
      -webkit-transform: skewX(0deg);
      transform: skewX(0deg);
      opacity: 0.75;
    }
    60% {
      -moz-transform: skewX(0deg);
      -ms-transform: skewX(0deg);
      -webkit-transform: skewX(0deg);
      transform: skewX(0deg);
      opacity: 1;
    }
    75% {
      -moz-transform: skewX(2deg);
      -ms-transform: skewX(2deg);
      -webkit-transform: skewX(2deg);
      transform: skewX(2deg);
    }
    80% {
      -moz-transform: skewX(0deg);
      -ms-transform: skewX(0deg);
      -webkit-transform: skewX(0deg);
      transform: skewX(0deg);
    }
    85% {
      -moz-transform: skewX(-8deg);
      -ms-transform: skewX(-8deg);
      -webkit-transform: skewX(-8deg);
      transform: skewX(-8deg);
      opacity: 0.75;
    }
    90% {
      -moz-transform: skewX(0deg);
      -ms-transform: skewX(0deg);
      -webkit-transform: skewX(0deg);
      transform: skewX(0deg);
      opacity: 1;
    }
    100% {
      -moz-transform: skewX(0deg);
      -ms-transform: skewX(0deg);
      -webkit-transform: skewX(0deg);
      transform: skewX(0deg);
    }
  }
  @-webkit-keyframes scan {
    0% {
      top: 0%;
    }
    50% {
      top: 97%;
    }
    100% {
      top: 0%;
    }
  }
  
  a:link, a:visited
  {
      color: white;
      text-decoration: none;
  }